@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i|Raleway:400,400i,700,700i|Inconsolata:400,700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.8/build/styles/atom-one-light.min.css");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring,
[type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.bg-navy {
  background-color: #001F3F;
}

.bg-blue {
  background-color: #0074D9;
}

.bg-aqua {
  background-color: #7FDBFF;
}

.bg-teal {
  background-color: #39CCCC;
}

.bg-olive {
  background-color: #3D9970;
}

.bg-green {
  background-color: #2ECC40;
}

.bg-lime {
  background-color: #01FF70;
}

.bg-yellow {
  background-color: #FFDC00;
}

.bg-orange {
  background-color: #FF851B;
}

.bg-red {
  background-color: #FF4136;
}

.bg-fuchsia {
  background-color: #F012BE;
}

.bg-purple {
  background-color: #B10DC9;
}

.bg-maroon {
  background-color: #85144B;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #AAAAAA;
}

.bg-silver {
  background-color: #DDDDDD;
}

.bg-black {
  background-color: #111111;
}

.navy {
  color: #001F3F;
}

.blue {
  color: #0074D9;
}

.aqua {
  color: #7FDBFF;
}

.teal {
  color: #39CCCC;
}

.olive {
  color: #3D9970;
}

.green {
  color: #2ECC40;
}

.lime {
  color: #01FF70;
}

.yellow {
  color: #FFDC00;
}

.orange {
  color: #FF851B;
}

.red {
  color: #FF4136;
}

.fuchsia {
  color: #F012BE;
}

.purple {
  color: #B10DC9;
}

.maroon {
  color: #85144B;
}

.white {
  color: #FFFFFF;
}

.gray {
  color: #AAAAAA;
}

.silver {
  color: #DDDDDD;
}

.black {
  color: #111111;
}

/*
Border colors
Use with another border utility that sets border-width and style. For
example:
.border {
    border-width: 1px;
    border-style: solid;
}
*/
.border-navy {
  border-color: #001F3F;
}

.border-blue {
  border-color: #0074D9;
}

.border-aqua {
  border-color: #7FDBFF;
}

.border-teal {
  border-color: #39CCCC;
}

.border-olive {
  border-color: #3D9970;
}

.border-green {
  border-color: #2ECC40;
}

.border-lime {
  border-color: #01FF70;
}

.border-yellow {
  border-color: #FFDC00;
}

.border-orange {
  border-color: #FF851B;
}

.border-red {
  border-color: #FF4136;
}

.border-fuchsia {
  border-color: #F012BE;
}

.border-purple {
  border-color: #B10DC9;
}

.border-maroon {
  border-color: #85144B;
}

.border-white {
  border-color: #FFFFFF;
}

.border-gray {
  border-color: #AAAAAA;
}

.border-silver {
  border-color: #DDDDDD;
}

.border-black {
  border-color: #111111;
}

.fill-navy {
  fill: #001F3F;
}

.fill-blue {
  fill: #0074D9;
}

.fill-aqua {
  fill: #7FDBFF;
}

.fill-teal {
  fill: #39CCCC;
}

.fill-olive {
  fill: #3D9970;
}

.fill-green {
  fill: #2ECC40;
}

.fill-lime {
  fill: #01FF70;
}

.fill-yellow {
  fill: #FFDC00;
}

.fill-orange {
  fill: #FF851B;
}

.fill-red {
  fill: #FF4136;
}

.fill-fuchsia {
  fill: #F012BE;
}

.fill-purple {
  fill: #B10DC9;
}

.fill-maroon {
  fill: #85144B;
}

.fill-white {
  fill: #FFFFFF;
}

.fill-gray {
  fill: #AAAAAA;
}

.fill-silver {
  fill: #DDDDDD;
}

.fill-black {
  fill: #111111;
}

.stroke-navy {
  stroke: #001F3F;
}

.stroke-blue {
  stroke: #0074D9;
}

.stroke-aqua {
  stroke: #7FDBFF;
}

.stroke-teal {
  stroke: #39CCCC;
}

.stroke-olive {
  stroke: #3D9970;
}

.stroke-green {
  stroke: #2ECC40;
}

.stroke-lime {
  stroke: #01FF70;
}

.stroke-yellow {
  stroke: #FFDC00;
}

.stroke-orange {
  stroke: #FF851B;
}

.stroke-red {
  stroke: #FF4136;
}

.stroke-fuchsia {
  stroke: #F012BE;
}

.stroke-purple {
  stroke: #B10DC9;
}

.stroke-maroon {
  stroke: #85144B;
}

.stroke-white {
  stroke: #FFFFFF;
}

.stroke-gray {
  stroke: #AAAAAA;
}

.stroke-silver {
  stroke: #DDDDDD;
}

.stroke-black {
  stroke: #111111;
}

* {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h5 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

code {
  font-size: 16px;
  font-family: "Inconsolata", sans-serif;
  line-height: 1.2;
}

pre {
  font-size: 16px;
  font-family: "Inconsolata", sans-serif;
  line-height: 1.2;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex > * {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: 10px;
}

.flex[class*=one] > *, .flex[class*=two] > *, .flex[class*=three] > *, .flex[class*=four] > *, .flex[class*=five] > *, .flex[class*=six] > *, .flex[class*=seven] > *, .flex[class*=eight] > *, .flex[class*=nine] > *, .flex[class*=ten] > *, .flex[class*=eleven] > *, .flex[class*=twelve] > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex: 0;
  flex-grow: 0;
}

.flex.grow > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.none {
  display: none;
}

.one > * {
  width: 100%;
}

.two > * {
  width: 50%;
}

.three > * {
  width: 33.33333%;
}

.four > * {
  width: 25%;
}

.five > * {
  width: 20%;
}

.six > * {
  width: 16.66666%;
}

.seven > * {
  width: 14.28571%;
}

.eight > * {
  width: 12.5%;
}

.nine > * {
  width: 11.11111;
}

.ten > * {
  width: 10%;
}

.eleven > * {
  width: 9.09091%;
}

.twelve > * {
  width: 8.33333%;
}

.whole {
  width: 100%;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.33333%;
}

.two-third {
  width: 66.66666%;
}

.one-fourth {
  width: 25%;
}

.three-fourth {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.two-fifth {
  width: 40%;
}

.three-fifth {
  width: 60%;
}

.four-fifth {
  width: 80%;
}

.one-sixth {
  width: 16.66666%;
}

.five-sixth {
  width: 83.33333%;
}

.off-none {
  margin-left: 0;
}

.off-one-half {
  margin-left: 50%;
}

.off-one-third {
  margin-left: 33.33333%;
}

.off-two-third {
  margin-left: 66.66666%;
}

.off-one-fourth {
  margin-left: 25%;
}

.off-three-fourth {
  margin-left: 75%;
}

.off-one-fifth {
  margin-left: 20%;
}

.off-two-fifth {
  margin-left: 40%;
}

.off-three-fifth {
  margin-left: 60%;
}

.off-four-fifth {
  margin-left: 80%;
}

.off-one-sixth {
  margin-left: 16.66666%;
}

.off-five-sixth {
  margin-left: 83.33333%;
}

code, code *, pre, pre * {
  font-family: "Inconsolata", sans-serif;
  font-size: 16px;
}

pre {
  margin: 10px;
  line-height: 1.2;
}

code {
  border-width: 1px;
  border-color: #777777;
  border-style: solid;
  border-radius: 12px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  margin: 0px;
  background-color: #135589;
  display: flex;
  flex-wrap: wrap;
}
nav a {
  margin: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
nav a:link {
  text-decoration: none;
}
nav a:hover {
  background-color: #FFFFFF;
  color: #135589;
  border-radius: 12px;
  transition: 0.5s;
}

/*# sourceMappingURL=minimal.css.map */
