$nav-sticky: 'nonstick' !default;
$nav-margin: $margin-default !default;
$nav-padding: $padding-default !default;
$nav-link-margin: $margin-default !default;
$nav-link-font: $display-font !default;
$nav-link-padding: $padding-default !default;
$nav-link-color: #FFFFFF !default;
$nav-link-hover-background: #FFFFFF !default;
$nav-link-hover-color: $color-5 !default;
$nav-link-border-radius: $border-radius !default;
$nav-background-color: $color-5 !default;
$nav-transition: $transition;

nav {
    @if $nav-sticky == 'stick' {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    padding: $nav-padding;
    margin: $nav-margin;
    background-color: $nav-background-color;
    display: flex;
    flex-wrap: wrap;

    a {
        &:link {
            text-decoration: none;
        }
        &:hover {
            background-color: $nav-link-hover-background;
            color: $nav-link-hover-color;
            border-radius: $nav-link-border-radius;
            transition: $nav-transition;
        }

        margin: $nav-link-margin;
        padding: $nav-link-padding;
        font-family: $nav-link-font;
        color: $nav-link-color;
    }
}