$nav-sticky: 'nonstick' !default;
$nav-margin: $margin-default !default;
$nav-padding: $padding-default !default;
$nav-link-margin: $margin-default !default;
$nav-link-font: $display-font !default;
$nav-link-padding: $padding-default !default;
$nav-link-color: $white !default;
$nav-link-hover-background: $white !default;
$nav-link-hover-color: $color-5 !default;
$nav-link-border-radius: $border-radius !default;
$nav-background-color: $color-5 !default;
$nav-transition: $transition;
$nav-shadow: 0px 3px 3px #444444 !default;
$nav-max-width: 1200px !default;
$nav-body-font: $body-font !default;
$nav-display-font: $display-font !default;
$nav-home-font-weight: 700 !default;
$nav-current-font-weight: 700 !default;

nav {
    justify-content: center;

    @if $nav-sticky == 'stick' {
        position: sticky;
        top: 0;
    }

    padding: $nav-padding;
    margin: $nav-margin;
    background-color: $nav-background-color;
    display: flex;
    flex-wrap: wrap;
    padding-left: calc((100vw - #{$nav-max-width}) / 2);
    padding-right: calc((100vw - #{$nav-max-width}) / 2);
    box-shadow: $nav-shadow;

    a {
        &:link {
            text-decoration: none;
            color: $nav-link-color;
        }

        &:visited {
            color: $nav-link-color;
        }

        &:hover {
            background-color: $nav-link-hover-background;
            color: $nav-link-hover-color;
            transition: $nav-transition;
        }

        margin: $nav-link-margin;
        padding: $nav-link-padding;
        font-family: $nav-link-font;
        color: $nav-link-color;
        border-radius: $nav-link-border-radius;
        flex-grow: 0;
        font-family: $nav-body-font;
    }

    .menu {
        background: none;
        display: flex;
        flex-grow: 0;
        flex-wrap: wrap;
    }

    .spacer {
        flex-grow: 1;
        background: none;
    }

    .home {
        &:link {
            background-color: inherit;
            color: $nav-link-color;
        }

        &:hover {
            background-color: inherit;
            color: $nav-link-color;
        }

        color: $nav-link-color;
        font-family: $nav-display-font;
        font-weight: $nav-home-font-weight;
    }

    .current {
        font-weight: $nav-current-font-weight;
    }

    .toggle {
        &:hover {
            background-color: $nav-link-hover-background;
            color: $nav-link-hover-color;
            transition: $nav-transition;
        }

        margin: $nav-link-margin;
        line-height: 1.5;
        padding: $nav-link-padding;
        font-family: $nav-link-font;
        color: $nav-link-color;
        border-radius: $nav-link-border-radius;
        flex-grow: 0;
        font-family: $nav-body-font;
        background-color: inherit;
        display: none;
    }

    #toggle {
        display: none;
    }

    @media screen and (max-width : 760px) {
        .toggle {
            display: block;
        }

        .menu {
            display: none;
        }

        input[type=checkbox]:checked ~ .menu {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: static;
        }
    }
}
