// Define variables for the styles (using the prefix style)
// Main font and display font
$style-main-font: $body-font !default;
$style-display-font: $display-font !default;
$style-monospace-font: $monospace-font !default;
// Spacing for large, medium, and small
$style-spacing-large: $spacing-large !default;
$style-spacing-medium: $spacing-medium !default;
$style-spacing-small: $spacing-small !default;
$style-spacing-monospace: $spacing-monospace !default;
// Large, medium, small, and all elements
$style-element-large: h1 !default;
$style-element-medium: h2 !default;
$style-element-small: p h3 h4 h5 h6 !default;
$style-elements: p h1 h2 h3 h4 h5 h6 code pre!default;
$style-element-monospace: code pre !default;
// Display elements, display font weights, monospace elements, and main elements
$style-display: h1 h2 h3 h4 h5 h6 !default;
$style-display-weight: 700 !default;
$style-main: p !default;
$style-monospace: code pre !default;
// Sizes for the elements
$style-sizes: $basic-sizes !default;
// Transition
$style-transition: $transition !default;
// Link related stuff
$style-link-spacing: $spacing-small !default;
$style-link-color: $color-5 !default;
$style-link-decoration: underline !default;
$style-link-visited-color: $color-4 !default;
$style-link-visited-decoration: underline !default;
$style-link-hover-color: $color-3 !default;
$style-link-hover-decoration: underline !default;
$style-link-hover-background: inherit !default;
$style-link-active-color: $white !default;
$style-link-active-background: $color-3 !default;
$style-link-active-decoration: underline !default;
// Regular anchors
$style-anchor-color: $black !default;
$style-anchor-decoration: none !default;
$style-link: true !default;
$style-link-visited: true !default;
$style-link-hover: true !default;
$style-link-active: true !default;

@function contains($list, $item) {
    @return index($list, $item) != null;
}

// Set the font for all elements to be the main font
* {
    font-family: $style-main-font;
    color: $black;
    background-color: $white;
}

@each $element in $style-elements {
    #{$element} {
        // Sets the size based on the element name
        font-size: map-get($style-sizes, $element);

        // Sets the font and etc based on the element type
        @if contains($style-main, #{$element}) {
            font-family: $style-main-font;
        } @else if contains($style-display, #{$element}) {
            font-family: $style-display-font;
            font-weight: $style-display-weight;
        } @else if contains($style-monospace, #{$element}) {
            font-family: $style-monospace-font;
        } @else {
            font-family: $style-main-font;
        }

        // Sets the line height based on the element size category
        @if contains($style-element-large, #{$element}) {
            line-height: $style-spacing-large;
        } @else if contains($style-element-medium, #{$element}) {
            line-height: $style-spacing-medium;
        } @else if contains($style-element-small, #{$element}) {
            line-height: $style-spacing-small;
        } @else if contains($style-element-monospace, #{$element}) {
            line-height: $style-spacing-monospace;
        } @else {
            line-height: $style-spacing-small;
        }
    }
}

a {
    line-height: $style-link-spacing;
    transition: $transition;
    color: $style-anchor-color;
    text-decoration: $style-anchor-decoration;

    @if $style-link {
        &:link {
            text-decoration: $style-link-decoration;
            color: $style-link-color;
        }
    }

    @if $style-link-visited {
        &:visited {
            color: $style-link-visited-color;
            text-decoration: $style-link-visited-decoration;
        }
    }

    @if $style-link-hover {
        &:hover {
            color: $style-link-hover-color;
            background-color: $style-link-hover-background;
            text-decoration: $style-link-hover-decoration;
        }
    }

    @if $style-link-active {
        &:active {
            color: $style-link-active-color;
            background-color: $style-link-active-background;
            text-decoration: $style-link-active-decoration;
        }
    }
}

img {
    width: 100%;
}
