// Importing fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i|Raleway:400,400i,700,700i|Inconsolata:400,700&display=swap");

// Color palette (Waimea Waters)
// Generally, color 1 is the "lightest" and color 5 is the "darkest" in a palette
$color-1: #EDFAFD !default; // Glass
$color-2: #AED9DA !default; // Chill
$color-3: #3DDAD7 !default; // Californian Coral
$color-4: #2A93D5 !default; // Bondi Blue
$color-5: #135589 !default; // Marina
$white: #FFFFFF !default;
$black: #555577 !default;

// Sizes for basic elements
// Sizes for elements
$basic-sizes: (
    p: 16px,
    h1: 48px,
    h2: 36px,
    h3: 28px,
    h4: 20px,
    h5: 14px,
    h6: 10px,
    code: 16px,
    pre: 16px
) !default;

// Transition
$transition: 0.5s !default;

// Border styling
$border-radius: 12px !default;
$border-width: 1px !default;
$border-color: #777777 !default;
$border-style: solid !default;

// Text line spacing
$spacing-large: 1 !default;
$spacing-medium: 1.2 !default;
$spacing-small: 1.5 !default;
$spacing-monospace: 1.2 !default;

$margin-default: 10px !default;
$margin-horizontal: $margin-default !default;
$margin-vertical: $margin-default !default;
$margin-left: $margin-horizontal !default;
$margin-right: $margin-horizontal !default;
$margin-top: $margin-vertical !default;
$margin-bottom: $margin-vertical !default;

$padding-default: 10px !default;
$padding-horizontal: $padding-default !default;
$padding-vertical: $padding-default !default;
$padding-left: $padding-horizontal !default;
$padding-right: $padding-horizontal !default;
$padding-top: $padding-vertical !default;
$padding-bottom: $padding-vertical !default;

// Fonts
$display-font: 'Montserrat', sans-serif !default;
$body-font: 'Raleway', sans-serif !default;
$monospace-font: 'Inconsolata', sans-serif !default;

// Configuration
$style-display-weight: 600 !default;
$code-theme: 'atom-one-light' !default;
$nav-sticky: 'stick' !default;
$nav-margin: 0px !default;
$nav-padding: 0px !default;
$style-link-active: false !default;
$style-link-visited-color: $color-5 !default;
$style-link-hover-color: $color-4 !default;
$header-padding-top: 100px !default;
$header-padding-bottom: 100px !default;
$main-margin: 20px !default;
